name: Auto Pull Request

on:
  push:
    branches:
      - ajh
#      - ksy
#      - jjw

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ${{ github.ref_name }}
          destination_branch: "develop"
          github_token: ${{ secrets.MY_PAT }}
