name: Auto Pull Request

on:
  push:
    # 오직 ajh 브랜치에 푸시될 때만 작동한다
    branches:
      - ajh

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "ajh"
          destination_branch: "dev"
          github_token: ${{ secrets.GITHUB_TOKEN }}
